// CSS Reset

*, *:before, *:active {
    box-sizing: content-box;
}

body {
    background-color: #eee;
}

h2, p {
    margin: 0;
}

// Reset end

.main {
    display: grid;
    margin: 2em;
    grid-gap: 1em;
}

.page-title {
    font-size: 2.2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;

    &:after {
        display: block;
        height: .3em;
        width: 100%;
        content: "";
        background-color: purple;
        margin-top: .5em;
    }
}

.featured-img {
    width: 100%;
}


