// CSS Reset

*, *:before, *:active {
    box-sizing: content-box;
}

body {
    background-color: #eee;
}

h2, p {
    margin: 0;
}

// Reset end

.main {
    display: grid;
    grid-gap: 3em;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        margin-top: 3em;
    }

}

.page-title {
    font-size: 2.5em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;

    &:after {
        display: block;
        height: .4em;
        width: 100%;
        content: "";
        background-color: 6817ba;
        margin-top: .5em;
    }

    @media (min-width: 1200px) {
        grid-area: 1 / 2;
        font-size: 3.5em;
        align-self: center;
    }
}

.img-description-container {
    display: grid;
    text-align: right;
}

.img-description {

    &__content {
        margin: 1em 0;
        font-family: 'Lato', sans-serif;
    }

    &__title {
        font-family: 'Fjalla One', sans-serif;
    }

    @media (min-width: 1200px) {
        font-size: 1.5em;
    }
}

.featured-img {
    width: 100%;
    @media (min-width: 1200px) {
        height: 100%;
        overflow: hidden;
    }
}

.feature-img-1 {
    @media (min-width: 1200px) {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.feature-img-2 {
    @media (min-width: 1200px) {
        grid-area: 2 / 2 / 4 / 3;
    }
}

.feature-img-3 {
    @media (min-width: 1200px) {
        grid-area: 3 / 1 / 6 / 2;
    }
}

.feature-img-4 {
    @media (min-width: 1200px) {
        grid-area: 5 / 2 / 6 / 3;
    }
}

.img-description-2, .img-description-4 {
    text-align: start;
}


