// CSS Reset

*, *:before, *:active {
    box-sizing: content-box;
}

body {
    background-color: #eee;
}

h2, p {
    margin: 0;
}

// Reset end

.main {
    display: grid;
    margin: 2em;
    grid-gap: 1em;
}

.page-title {
    font-size: 2.2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;

    &:after {
        display: block;
        height: .4em;
        width: 100%;
        content: "";
        background-color: 6817ba;
        margin-top: .5em;
    }
}

.featured-img {
    width: 100%;
}

.img-description-container {
    display: grid;
    text-align: right;
}

.img-description {

    &__content {
        margin: 1em 0;
        font-family: 'Lato', sans-serif;
    }

    &__title {
        font-family: 'Fjalla One', sans-serif;
    }
}

.img-description-2, .img-description-4 {
    text-align: left;
}


